body {
    background-color: rgb(131, 45, 14);
    font-family: 'Times New Roman', Times, serifte;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#app {
    padding: 20px;
}

#recipe-container {
    background-color: rgb(10, 78, 56);
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px;
}

#recipe-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}
  
#new-recipe-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
  
#new-recipe-btn:hover {
    background-color: #45a049;
}
  
#ingredient-list {
    list-style-type: none;
    padding: 0;
}
  
#ingredient-list li {
    background-color: #f8f8f8;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
}